@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Satisfy", cursive;
    box-sizing: border-box;
    background: rgb(37, 48, 70);
}